@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Page Layout Structure */
body {
    height: 100dvh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}

body>* {
    padding: 1rem;
    outline: 1px solid black;
}

header {
    grid-column: 1/3;
}

aside {
    padding: .8rem;
}

aside>.home-options {
    height: 43%;
}

aside>.projects {
    height: 47%;

}

aside>.new-project {
    margin-top: 1rem;
    height: 6%;
}

/* Options Layout Structure */
.home-options,
.projects {
    display: flex;
    justify-content: start;
    row-gap: .5rem;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: start;
}

.home-options> :first-child,
.projects> :first-child {
    padding-left: .2rem;
}

.home-options>*,
.projects>* {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
}

.new-project {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

/* main Layout */

main {
    overflow-y: auto;
}

.project-title {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-title {
    height: 5%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.task {
    height: 8%;
}

/* Header Style */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

header>img {
    width: 4%;
}

/*Aside Style  */
.home-options> :first-child,
.projects> :first-child {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.home-options> :nth-child(n+2),
.projects> :nth-child(n+2) {
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid black;
}

.new-project {
    font-size: 1.2rem;
    border-top: 1px solid black;
    font-weight: 500;
}

.new-project>img {
    width: 12%;
}

/* Options icons */
.home-options> :nth-child(n+2),
.projects> :nth-child(n+2) {
    background-position-y: center;
    background-position-x: 3%;
    padding-left: 18%;
    background-size: 12%;
    background-repeat: no-repeat;
}

.home-options> :nth-child(2) {
    background-image: url("../resources/all.png");
}

.home-options> :nth-child(3) {
    background-image: url("../resources/today.png");
}

.home-options> :nth-child(4) {
    background-image: url("../resources/week.png");

}

.home-options> :nth-child(5) {
    background-image: url("../resources/completed.png");
}

.projects> :nth-child(n+2) {
    background-image: url("../resources/project.png");
}

/* main style */
main>.project-title {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 2.7rem;
    font-weight: bolder;
}

main>.task-title {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding-left: 5px;
    margin-bottom: .25rem;
    font-weight: bold;
}

.task {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid black;
    padding: .5rem;
    padding-left: 3rem;
    column-gap: .3rem;
}

.task>.title {
    flex-grow: 1;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task>.description {
    flex-grow: 1;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task>img {
    width: 2.1rem !important;
}

.unchecked {
    background-image: url("../resources/unchecked.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: .2rem;
    background-size: 2.1rem;
}

.checked {
    background-image: url("../resources/checked.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: .2rem;
    background-size: 2.1rem;
}